@tailwind base;
@tailwind components;
@tailwind utilities;
/* hide-scrollbar.css */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */

  /* For Chrome, Safari and Opera */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
